{% extends 'website/base.html' %}
{% load static %}

{% block main %}
<figure class="fixed">
    <img src="{% static 'website/images/F1Spark.jpg' %}">
    <details style="text-align: center;"><a href="https://www.google.com/search?q=f1+sparkle&tbm=isch&ved=2ahUKEwjj3sXRi4vwAhXC0oUKHatqDW0Q2-cCegQIABAA&oq=f1+sparkle&gs_lcp=CgNpbWcQAzIECCMQJ1CcGlicGmDBG2gAcAB4AIABWYgBWZIBATGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=deB9YKNQwqWXBKvVtegG&bih=654&biw=1366&client=firefox-b-d#imgrc=vdwNZp60VAx7AM" target="_blank">Referência</a></details>
    <figcaption> Faísca na Formula 1</figcaption>
</figure>
<figure class="sticky">
    <img src="{% static 'website/images/fixed.jpg' %}">
    <details style="text-align: center;"><a href="https://www.google.com/search?q=senna+spa&client=firefox-b-d&sxsrf=ALeKk02RsVhRzGy8Olu-kwYW7FRMrDlR9A:1618861549047&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjp5MiciYvwAhUW9IUKHeZGBJgQ_AUoAXoECAEQAw&biw=1366&bih=654#imgrc=X7krKPglLOehUM" target="_blank">Referência</a></details>
    <figcaption>Curcuito da Bélgica - Spa-Francorchamps</figcaption>
</figure>
<br>
<h2 id="Calendário"style="text-align: center;">Calendário</a>
            </h2>
            <section>
                <table cellpadding="10%" cellspacing="4" class="centerTable">
                     <thead>
                         <tr>
                             <th>Data</th>
                             <th>Localização</th>
                             <th>Vencedor</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td>28/03/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/BAHRAIN.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> <a href="https://www.youtube.com/watch?v=QuBlV0dixMo&t" target="_blank">GP do Bahrain – Sakhir</a></td>
                             <td><a href="https://www.formula1.com/en/results.html/2021/races/1064/bahrain/race-result.html" target="_blank">Lewis Hamilton</a></td>
                         </tr>
                         <tr>
                             <td>18/04/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/ITALIA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> <a href="https://www.youtube.com/watch?v=ds0BC8RDJ5o" target="_blank">GP da Emilia-Romanha – Imola</a></td>
                             <td><a href="https://www.formula1.com/en/results.html/2021/races/1065/italy/race-result.html" target="_blank">Max Verstappen</a></td>
                         </tr>
                         <tr>
                             <td>02/05/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/PORTUGAL.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP de Portugal – Portimão</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>09/05/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/ESPANHA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP da Espanha – Barcelona</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>23/05/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/MONACO.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP de Mônaco – Monte Carlo</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>06/06/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/AZERBAJAO.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP do Azerbaijão – Baku</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>13/06/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/CANADA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP do Canadá – Montreal</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>27/06/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/FRANCA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP da França – Paul Ricard</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>04/07/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/AUSTRIA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP da Áustria – Red Bull Ring</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>18/07/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/UK.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP da Grã-Bretanha – Silverstone</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>01/08/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/HUNGRIA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP da Hungria – Hungaroring</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>29/08/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/BELGICA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP da Bélgica – Spa-Francorchamps</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>05/09/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/HOLANDA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP da Holanda – Zandvoort</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>12/09/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/ITALIA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP da Itália – Monza</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>26/09/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/RUSSIA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP da Rússia – Sochi</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>03/10/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/SINGAPURA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP de Singapura – Marina Bay</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>10/10/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/JAPAO.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP do Japão – Suzuka</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>24/10/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/USA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP dos EUA – Austin</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>31/10/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/MEXICO.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP do México – Cidade do México</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>07/11/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/BRASIL.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP do Brasil – Interlagos</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>21/11/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/AUSTRALIA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP da Austrália – Melbourne</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>05/12/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/ARABIASAUDITA.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP da Arábia Saudita – Jeddah</td>
                             <td>Não realizado</td>
                         </tr>
                         <tr>
                             <td>12/12/2021</td>
                             <td style="text-align: left;"><img src ="{% static 'website/images/ABUDHABI.png' %}" style="vertical-align: middle; height: 15px; border: 1px solid black;"> GP de Abu Dhabi – Yas Marina</td>
                             <td>Não realizado</td>
                         </tr>
                     </tbody>
                </table>
            </section>
            <h2 id="ClassificaçãoConstrutores" style="text-align: center;">Classificação Construtores</h2>
            <section>
                <table cellpadding="10%" cellspacing="4" class="centerTable">
                    <thead>
                        <tr>
                            <th>Classificação</th>
                            <th>Equipa</th>
                            <th>Pontos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1º</td>
                            <td style="text-align: left;display: flex; align-items: center;"><img src="{% static 'website/images/MercedesLogo.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> MERCEDES</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>2º</td>
                            <td style="text-align: left;display: flex; align-items: center;" ><img src="{% static 'website/images/RedBullLogo.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> RED BULL RACING HONDA</td>
                            <td>53</td>
                        </tr>
                        <tr>
                            <td>3º</td>
                            <td style="text-align: left;display: flex; align-items: center;"><img src="{% static 'website/images/McLarenLogo.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> MCLAREN MERCEDES</td>
                            <td>41</td>
                        </tr>
                        <tr>
                            <td>4º</td>
                            <td style="text-align: left;display: flex; align-items: center;"><img src="{% static 'website/images/FerrariLogo.png' %}" style="vertical-align:middle; height: 25px; background-position: center;"> FERRARI</td>
                            <td>34</td>
                        </tr>
                        <tr>
                            <td>5º</td>
                            <td style="text-align: left; display: flex; align-items: center;"><img src="{% static 'website/images/AlphaTauriLogo.png' %}" style="vertical-align:middle; width: 25px;background-position: center;"> ALPHATAURI HONDA</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>6º</td>
                            <td style="text-align: left;display: flex;align-items: center;"><img src="{% static 'website/images/AstonMartinLogo.png' %}" style="vertical-align:middle; width: 25px;background-position: center;"> ASTON MARTIN MERCEDES</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>7º</td>
                            <td style="text-align: left;display: flex;align-items: center;"><img src="{% static 'website/images/AlpineLogo.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> ALPINE RENAULT</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>8º</td>
                            <td style="text-align: left;display: flex;align-items: center;"><img src="{% static 'website/images/AlfaRomeoLogo.png' %}" style="vertical-align:middle; height: 25px;background-position: center;">ALFA ROMEO RACING FERRARI</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>9º</td>
                            <td style="text-align: left;display: flex;align-items: center;"><img src="{% static 'website/images/WilliamsLogo.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> WILLIAMS MERCEDES</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>10º</td>
                            <td style="text-align: left;display: flex;align-items: center;"><img src="{% static 'website/images/HaasLogo.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> HAAS FERRARI</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <h2 id="ClassificaçãoPilotos"style="text-align: center;">Classificação de Pilotos</h2>
            <section>
                <table cellpadding="10%" cellspacing="4" class="centerTable">
                    <thead>
                        <tr>
                            <th>Classificação</th>
                            <th>Piloto</th>
                            <th>Pontos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/UK.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Lewis Hamilton</td>
                            <td>44</td>
                        </tr>
                        <tr>
                            <td>2º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/HOLANDA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Max Verstappen</td>
                            <td>43</td>
                        </tr>
                        <tr>
                            <td>3º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/UK.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Lando Norris</td>
                            <td>27</td>
                        </tr>
                        <tr>
                            <td>4º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/MONACO.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Charles Leclerc</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>5º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/FILANDIA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Valtteri Bottas</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>6º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/ESPANHA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Carlos Sainz Jr.</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>7º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/AUSTRALIA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Daniel Ricciardo</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>8º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/MEXICO.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Sergio Pérez</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>9º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/CANADA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Lance Stroll</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>10º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/FRANCA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Pierre Gasly</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>11º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/JAPAO.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Yuki Tsunoda</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>12º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/FRANCA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Esteban Ocon</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>13º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/ESPANHA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Fernando Alonso</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>14º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/FILANDIA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Kimi Raikkonen</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>15º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/ITALIA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Antonio Giovinazzi</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>16º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/UK.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> George Russell</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>17º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/ALEMANHA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Sebastian Vettel</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>18º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/ALEMANHA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Mick Schumacher</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>19º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/RUSSIA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Nikita Mazepin</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>20º</td>
                            <td style="text-align: left;"><img src ="{% static 'website/images/CANADA.png' %}" style="vertical-align: middle;height: 15px;border: 1px solid black;"> Nicholas Latifi</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <a href="#top">
                <span style="font-size:50px;height:30px;position: fixed;bottom: 30px;right: 30px;" class="material-icons md-24 ">arrow_upward</span><
                </a>
<br>
{% endblock %}