{% extends 'website/base.html' %}
{% load static %}

{% block main %}
<h1 style="text-align: center;"><a href="https://www.formula1.com/en/teams.html" target="_blank">Equipas 2021</a></h1>

<h2 style="text-align: center; "><img src ="{% static 'website/images/ALEMANHA.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> Mercedes-AMG Petronas F1 Team</h2>
<div class ="margemEquipas">
    <figure><img src="{% static 'website/images/LewisHamilton.jpg' %}" style="border: 5px solid #00D2BE ">
        <details><a href="https://www.formula1.com/en/drivers/lewis-hamilton.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/UK.png' %}" style="vertical-align: middle; height: 20px;"> Lewis Hamilton 44 <br> Data de nascimento: 07/01/1985</figcaption>
    </figure>
    <div style="display: flex;flex-direction: column;width: 300px;height: 300px;">
        <img src="{% static 'website/images/Mercedes.png' %}">
    </div>
    <figure><img src="{% static 'website/images/ValtteriBottas.jpg' %}" style="border: 5px solid #00D2BE ">
        <details><a href="https://www.formula1.com/en/drivers/valtteri-bottas.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/FILANDIA.png' %}" style="vertical-align: middle; height: 20px;"> Valtteri Bottas 77 <br> Data de nascimento: 28/08/1989</figcaption>
    </figure>
</div>

<h2 style="text-align: center;"><img src ="{% static 'website/images/AUSTRIA.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> Red Bull Racing Honda</h2>
<div class="margemEquipas">
    <figure><img src="{% static 'website/images/MaxVerstappen.jpg' %}" style="border: 5px solid #0600EF">
        <details><a href="https://www.formula1.com/en/drivers/max-verstappen.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/HOLANDA.png' %}" style="vertical-align: middle; height: 20px;"> Max Verstappen 33 <br> Data de nascimento: 30/09/1997</figcaption>
    </figure>
    <div style="display: flex;flex-direction: column;width: 300px;height: 300px;">
        <img src="{% static 'website/images/RedBull.png' %}">
    </div>
    <figure><img src="{% static 'website/images/SergioPerez.jpg' %}" style="border: 5px solid #0600EF">
        <details><a href="https://www.formula1.com/en/drivers/sergio-perez.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/MEXICO.png' %}" style="vertical-align: middle; height: 20px;"> Sergio Perez 11 <br> Data de nascimento: 26/01/1990</figcaption>
    </figure>
</div>

<h2 style="text-align: center;"><img src ="{% static 'website/images/UK.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> Mclaren F1 Team</h2>
<div class="margemEquipas">
    <figure><img src="{% static 'website/images/DanielRicciardo.jpg' %}" style="border: 5px solid #FF9800">
        <details><a href="https://www.formula1.com/en/drivers/daniel-ricciardo.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/AUSTRALIA.png' %}" style="vertical-align: middle; height: 20px;"> Daniel Ricciardo 3 <br> Data de nascimento: 01/07/1989</figcaption>
    </figure>
    <div style="display: flex;flex-direction: column;width: 300px;height: 300px;">
        <img src="{% static 'website/images/Mclaren.png' %}">
    </div>
    <figure><img src="{% static 'website/images/LandoNorris.jpg' %}" style="border: 5px solid #FF9800">
        <details><a href="https://www.formula1.com/en/drivers/lando-norris.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/UK.png' %}" style="vertical-align: middle; height: 20px;"> Lando Norris 4 <br> Data de nascimento: 13/11/1999</figcaption>
    </figure>
</div>

<h2 style="text-align: center;"><img src ="{% static 'website/images/ITALIA.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> Scuderia Mission Winnow Ferrari</h2>
<div class="margemEquipas">
    <div style="display: flex;">
        <figure><img src="{% static 'website/images/CharlesLeclerc.jpg' %}" style="border: 5px solid #DC0000">
            <details><a href="https://www.formula1.com/en/drivers/charles-leclerc.html" target="_blank">Referência</a></details>
            <figcaption><img src ="{% static 'website/images/MONACO.png' %}" style="vertical-align: middle; height: 20px;"> Charles Leclerc 16 <br> Data de nascimento: 16/10/1997</figcaption>
        </figure>
        <div style="display: flex;flex-direction: column;width: 300px;height: 300px;">
            <img src="{% static 'website/images/Ferrari.png' %}">
        </div>
        <figure><img src="{% static 'website/images/CarlosSainz.jpg' %}" style="border: 5px solid #DC0000">
            <details><a href="https://www.formula1.com/en/drivers/carlos-sainz.html" target="_blank">Referência</a></details>
            <figcaption><img src ="{% static 'website/images/ESPANHA.png' %}" style="vertical-align: middle; height: 20px;"> Carlos Sainz 55 <br> Data de nascimento: 01/09/1994</figcaption>
        </figure>
    </div>
</div>

<h2 style="text-align: center;"><img src ="{% static 'website/images/ITALIA.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> Scuderia AlphaTauri Honda</h2>
<div class="margemEquipas">
    <figure><img src="{% static 'website/images/PierreGasly.jpg' %}" style="border: 5px solid#2B4562">
        <details><a href="https://www.formula1.com/en/drivers/pierre-gasly.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/FRANCA.png' %}" style="vertical-align: middle; height: 20px;"> Pierre Gasly 10 <br> Data de nascimento: 07/02/1996</figcaption>
    </figure>
    <div style="display: flex;flex-direction: column;width: 300px;height: 300px;">
        <img src="{% static 'website/images/AlphaTauri.png' %}">
    </div>
    <figure><img src="{% static 'website/images/YukiTsunoda.jpg' %}" style="border: 5px solid#2B4562">
        <details><a href="https://www.formula1.com/en/drivers/yuki-tsunoda.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/JAPAO.png' %}" style="vertical-align: middle; height: 20px;"> Yuki Tsunoda 22 <br> Data de nascimento: 11/05/2000</figcaption>
    </figure>
</div>

<h2 style="text-align: center;"><img src ="{% static 'website/images/UK.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> Aston Martin Cognizant F1 Team</h2>
<div class="margemEquipas">
    <figure><img src="{% static 'website/images/SebastianVettel.jpg' %}" style="border: 5px solid #006F62">
        <details><a href="https://www.formula1.com/en/drivers/sebastian-vettel.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/ALEMANHA.png' %}" style="vertical-align: middle; height: 20px;"> Sebastian Vettel 5 <br> Data de nascimento: 03/07/1987</figcaption>
    </figure>
    <div style="display: flex;flex-direction: column;width: 300px;height: 300px;">
        <img src="{% static 'website/images/AstonMartin.png' %}">
    </div>
    <figure><img src="{% static 'website/images/LanceStroll.jpg' %}" style="border: 5px solid #006F62">
        <details><a href="https://www.formula1.com/en/drivers/lance-stroll.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/CANADA.png' %}" style="vertical-align: middle; height: 20px;"> Lance Stroll 18 <br> Data de nascimento: 29/10/1998</figcaption>
    </figure>
</div>

<h2 style="text-align: center;"><img src ="{% static 'website/images/ITALIA.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> Alfa Romeo Racing ORLEN</h2>
<div class="margemEquipas">
    <figure><img src="{% static 'website/images/KimiRaikkonen.jpg' %}" style="border: 5px solid #900000">
        <details><a href="https://www.formula1.com/en/drivers/kimi-raikkonen.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/FILANDIA.png' %}" style="vertical-align: middle; height: 20px;"> Kimi Raikkonen 7 <br> Data de nascimento: 17/10/1979</figcaption>
    </figure>
    <div style="display: flex;flex-direction: column;width: 300px;height: 300px;">
        <img src="{% static 'website/images/AlfaRomeo.png' %}">
    </div>
    <figure><img src="{% static 'website/images/AntonioGiovinazzi.jpg' %}" style="border: 5px solid #900000">
        <details><a href="https://www.formula1.com/en/drivers/antonio-giovinazzi.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/ITALIA.png' %}" style="vertical-align: middle; height: 20px;"> Antonio Giovinazzi 99 <br> Data de nascimento: 14/12/1993</figcaption>
    </figure>
</div>

<h2 style="text-align: center;"><img src ="{% static 'website/images/FRANCA.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> Alpine F1 Team</h2>
<div class="margemEquipas">
    <figure><img src="{% static 'website/images/FernandoAlonso.jpg' %}" style="border: 5px solid #0090FF">
        <details><a href="https://www.formula1.com/en/drivers/fernando-alonso.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/ESPANHA.png' %}" style="vertical-align: middle; height: 20px;"> Fernando Alonso 14 <br> Data de nascimento: 29/07/1981</figcaption>
    </figure>
    <div style="display: flex;flex-direction: column;width: 300px;height: 300px;">
        <img src="{% static 'website/images/Alpine.png' %}">
    </div>
    <figure><img src="{% static 'website/images/EstebanOcon.jpg' %}" style="border: 5px solid #0090FF">
        <details><a href="https://www.formula1.com/en/drivers/esteban-ocon.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/FRANCA.png' %}" style="vertical-align: middle; height: 20px;"> Esteban Ocon 31 <br> Data de nascimento: 17/09/1996</figcaption>
    </figure>
</div>

<h2 style="text-align: center;"><img src ="{% static 'website/images/UK.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> Williams Racing</h2>
<div class="margemEquipas">
    <figure><img src="{% static 'website/images/GeorgeRussell.jpg' %}" style="border: 5px solid #005AFF">
        <details><a href="https://www.formula1.com/en/drivers/george-russell.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/UK.png' %}" style="vertical-align: middle; height: 20px;"> George Russell 63 <br> Data de nascimento: 07/01/1985</figcaption>
    </figure>
    <div style="display: flex;flex-direction: column;width: 300px;height: 300px;">
        <img src="{% static 'website/images/Williams.png' %}">
    </div>
    <figure><img src="{% static 'website/images/NicholasLatifi.jpg' %}" style="border: 5px solid #005AFF">
        <details><a href="https://www.formula1.com/en/drivers/nicholas-latifi.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/CANADA.png' %}" style="vertical-align: middle; height: 20px;"> Nicholas Latifi 6 <br> Data de nascimento: 07/01/1985</figcaption>
    </figure>
</div>

<h2 style="text-align: center;"><img src ="{% static 'website/images/USA.png' %}" style="vertical-align:middle; height: 25px;background-position: center;"> Uralkali Haas F1 Team</h2>
<div class="margemEquipas">
    <figure><img src="{% static 'website/images/MickSchumacher.jpg' %}" style="border: 5px solid #FFFFFF">
        <details><a href="https://www.formula1.com/en/drivers/mick-schumacher.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/ALEMANHA.png' %}" style="vertical-align: middle; height: 20px;"> Mick Schumacher 47  <br> Data de nascimento: 15/02/1998</figcaption>
    </figure>
    <div style="display: flex;flex-direction: column;width: 300px;height: 300px; height: 20px;">
        <img src="{% static 'website/images/Haas.png' %}">
    </div>
    <figure><img src="{% static 'website/images/NikitaMazepin.jpg' %}" style="border: 5px solid #FFFFFF">
        <details><a href="https://www.formula1.com/en/drivers/nikita-mazepin.html" target="_blank">Referência</a></details>
        <figcaption><img src ="{% static 'website/images/RUSSIA.png' %}" style="vertical-align: middle; height: 20px;"> Nikita Mazepin 9  <br> Data de nascimento: 29/06/1995</figcaption>
    </figure>
</div>
<a href="#top">
    <span style="font-size:50px;height:30px;position: fixed;bottom: 30px;right: 30px;" class="material-icons md-24 ">arrow_upward</span>
</a>
<br>
{% endblock %}