{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    <section>
        <p>Oficilamente a Fórmula 1 foi criada a 1950 pela FIA(Federação Internacional de Automobilismo). A prova inaugural do campeonato foi realizado em Inglaterra no circuito de Silverstone.
            A prova realizou-se a uma sábado, 13 de Maio de 1950, para não coincidir com um culto religioso.
            A prova teve público de 100.000 pessoas e contou com a presença do Rei George VI, a Rainha Elizabeth e a princesa Margareth.O campeonato anunciado tinha 6 Grandes Prêmios na Europa: Inglaterra, Mônaco, Suíça, Bélgica, França e Itália.
            Ainda foi adicionado o resultado das 500 Milhas de Indianápolis, para se tornar num campeonato mundial. No final da década de 50, o número de corridas passou de 6 para 11.
            No início da Fórmula 1, os principais pilotos representavam a Alfa Romeo, a Ferrari e a Maserati.
            Em 1954, a Mercedes-Benz retornou ao esporte com um carro perfeito que deu a Juan Manuel Fangio 2 títulos, consagrando o piloto tricampeão mundial.</p>
    </section>
    <h2 style="text-align: center;">Algumas imagens e videos para conhecer melhor a história da Formula 1 <br>
                (para visualizar os videos, carregue para visualizar no youtube)</h2>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bbPOCRmpAzY" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="borderVideo centerImg"></iframe>
            <section class="galeria">
                <br>
                <figure>
                    <img src="{% static 'website/images/homeImagem1-1.png' %}" class="borderImg">
                    <details style="vertical-align: middle; text-align: center;"><a href="https://www.google.com/search?q=first+f1+car&tbm=isch&ved=2ahUKEwjUruLWhYvwAhUG9BoKHXxmBGgQ2-cCegQIABAA&oq=first+f1+car&gs_lcp=CgNpbWcQAzICCAAyBAgAEB4yBAgAEB4yBAgAEB4yBggAEAUQHjIGCAAQBRAeMgYIABAFEB4yBggAEAUQHjIGCAAQBRAeMgYIABAFEB46BAgjECc6BAgAEEM6BQgAELEDOgcIABCxAxBDOggIABCxAxCDAVCSZ1ilfWCEfmgDcAB4AIABkwGIAYELkgEDOS41mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=Ndp9YJTAFYboa_zMkcAG&bih=654&biw=1366&client=firefox-b-d#imgrc=DAaBPHEyC5b2nM" target="_blank">Referência</a></details>
                    <figcaption>Primeiro carro da Alfa Romeo</figcaption>
                </figure>
                <figure>
                    <img src="{% static 'website/images/homeImagem1-2.png' %}" class="borderImg imagemDireita">
                    <details style="vertical-align: middle; text-align: center;"><a href="https://www.google.com/search?q=Alfa+Romeo+2021+f1&tbm=isch&ved=2ahUKEwjWwvCQiIvwAhUP0YUKHVIvCrwQ2-cCegQIABAA&oq=Alfa+Romeo+2021+f1&gs_lcp=CgNpbWcQAzIECCMQJzICCAAyBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB5QmQ1YwxJgtRdoAHAAeACAAXSIAasCkgEDMS4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=yNx9YNa-BY-ilwTS3qjgCw&bih=654&biw=1366&client=firefox-b-d#imgrc=elgGEU9AuASKDM" target="_blank">Referência</a></details>
                    <figcaption>Carro de 2021 da Alfa Romeo</figcaption>
                </figure>
            </section>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1TOVYKbjwOk" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="borderVideo centerImg"></iframe>
            <section class="galeria">
                <br>
                <figure>
                    <img src="{% static 'website/images/homeImagem2-1.png' %}" class="borderImg">
                    <details style="vertical-align: middle; text-align: center;"><a href="https://www.google.com/search?q=best+races+f1&tbm=isch&ved=2ahUKEwjOhfz-k4vwAhW0gM4BHTYWDi4Q2-cCegQIABAA&oq=best+races+f1&gs_lcp=CgNpbWcQAzIGCAAQCBAeMgQIABAYMgQIABAYMgQIABAYOgQIIxAnOgUIABCxAzoICAAQsQMQgwE6BAgAEEM6AggAOgQIABAeOgQIABATOggIABAIEB4QEzoGCAAQHhATUPCDAViRkAFg95ABaABwAHgAgAFeiAHSCJIBAjEzmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=N-l9YI6OLrSBur4Ptqy48AI&bih=654&biw=1366&client=firefox-b-d#imgrc=2MqqMMOwQHrwMM" target="_blank">Referência</a></details>
                    <figcaption>Uma das corridas da última década</figcaption>
                </figure>
                <figure>
                    <img src="{% static 'website/images/homeImagem2-2.png' %}" class="borderImg imagemDireita">
                    <details style="vertical-align: middle; text-align: center;"><a href="https://www.google.com/search?q=best+races+f1&tbm=isch&ved=2ahUKEwjOhfz-k4vwAhW0gM4BHTYWDi4Q2-cCegQIABAA&oq=best+races+f1&gs_lcp=CgNpbWcQAzIGCAAQCBAeMgQIABAYMgQIABAYMgQIABAYOgQIIxAnOgUIABCxAzoICAAQsQMQgwE6BAgAEEM6AggAOgQIABAeOgQIABATOggIABAIEB4QEzoGCAAQHhATUPCDAViRkAFg95ABaABwAHgAgAFeiAHSCJIBAjEzmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=N-l9YI6OLrSBur4Ptqy48AI&bih=654&biw=1366&client=firefox-b-d#imgrc=Y-QKwzwo4Zm1lM" target="_blank">Referência</a></details>
                    <figcaption>GP Mônaco de 2019</figcaption>
                </figure>
            </section>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pyD1stt6LSA" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="borderVideo centerImg"></iframe>
            <section class="galeria">
                <br>
                <figure>
                    <img src="{% static 'website/images/homeImagem3-1.png' %}" class="borderImg">
                    <details style="vertical-align: middle; text-align: center;"><a href="https://www.google.com/search?q=f1+crashes&client=firefox-b-d&sxsrf=ALeKk01pu1pn1KRokvC_OpOer-hIuWme0A:1618864504955&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj49oaelIvwAhUCLBoKHbPSCngQ_AUoAXoECAIQAw&biw=1366&bih=654#imgrc=PhJPls5NuIIGSM" target="_blank">Referência</a></details>
                    <figcaption>Acidente no GP da Bélgica 2018</figcaption>
                </figure>
                <figure>
                    <img src="{% static 'website/images/homeImagem3-2.png' %}" class="borderImg imagemDireita">
                    <details style="vertical-align: middle; text-align: center;"><a href="https://www.google.com/search?q=f1+crashes&client=firefox-b-d&sxsrf=ALeKk01pu1pn1KRokvC_OpOer-hIuWme0A:1618864504955&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj49oaelIvwAhUCLBoKHbPSCngQ_AUoAXoECAIQAw&biw=1366&bih=654#imgrc=agKx9PuuWpJ7yM" target="_blank">Referência</a></details>
                    <figcaption>Acidente no GP da Bélgica 2012</figcaption>
                </figure>
            </section>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aDwZG4UQMEA" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="borderVideo centerImg"></iframe>
            <section class="galeria">
                <br>
                <figure>
                    <img src="{% static 'website/images/homeImagem4-1.png' %}" class="borderImg">
                    <details style="vertical-align: middle; text-align: center;"><a href="https://www.google.com/search?q=f1+sportsmanship&tbm=isch&ved=2ahUKEwjtve-elIvwAhUPRhoKHTYgDisQ2-cCegQIABAA&oq=f1+spor&gs_lcp=CgNpbWcQARgAMgQIIxAnMgIIADIECAAQHjIECAAQHjIECAAQHjIECAAQHjIGCAAQBRAeMgYIABAFEB4yBggAEAUQHjIGCAAQBRAeOgQIABBDOgcIABCxAxBDOgUIABCxAzoECAAQA1CZ4jRYkuc0YJzsNGgAcAB4AIABY4gB9wSSAQE3mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=eul9YO2YKI-MabbAuNgC&bih=654&biw=1366&client=firefox-b-d#imgrc=tYyE9GKMjsncPM" target="_blank">Referência</a></details>
                    <figcaption>Os pilotos Vettel e Raikkonen</figcaption>
                </figure>
                <figure>
                    <img src="{% static 'website/images/homeImagem4-2.png' %}" class="borderImg imagemDireita">
                    <details style="vertical-align: middle; text-align: center;"><a href="https://www.google.com/search?q=f1+sportsmanship&tbm=isch&ved=2ahUKEwjtve-elIvwAhUPRhoKHTYgDisQ2-cCegQIABAA&oq=f1+spor&gs_lcp=CgNpbWcQARgAMgQIIxAnMgIIADIECAAQHjIECAAQHjIECAAQHjIECAAQHjIGCAAQBRAeMgYIABAFEB4yBggAEAUQHjIGCAAQBRAeOgQIABBDOgcIABCxAxBDOgUIABCxAzoECAAQA1CZ4jRYkuc0YJzsNGgAcAB4AIABY4gB9wSSAQE3mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=eul9YO2YKI-MabbAuNgC&bih=654&biw=1366&client=firefox-b-d#imgrc=9cIZfkXgLrqG5M" target="_blank">Referência</a></details>
                    <figcaption>Os pilotos Vettel e Hamilton</figcaption>
                </figure>
            </section>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ipfFasNRAeg" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="borderVideo centerImg"></iframe>
            <section class="galeria">
                <br>
                <figure>
                    <img src="{% static 'website/images/homeImagem5-1.jpg' %}" class="borderImg">
                    <details style="vertical-align: middle; text-align: center;"><a href="https://www.google.com/search?q=f1+outside+overtake+russell+bahrain&tbm=isch&ved=2ahUKEwjm6KTml4vwAhUTwIUKHeipAwQQ2-cCegQIABAA&oq=f1+outside+overtake+russell+bahrain&gs_lcp=CgNpbWcQA1DPJFigK2DWLGgAcAB4AIABfYgB_gWSAQM1LjOYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=Ne19YKb6LJOAlwTo044g&bih=654&biw=1366&client=firefox-b-d#imgrc=-r2f19lAKY-UpM" target="_blank">Referência</a></details>
                    <figcaption>O piloto George Russell a fazer uma ultrapassagem</figcaption>
                </figure>
                <figure>
                    <img src="{% static 'website/images/homeImagem5-2.jpg' %}" class="borderImg imagemDireita">
                    <details style="vertical-align: middle; text-align: center;"><a href="https://www.google.com/search?q=f1+overtake&tbm=isch&ved=2ahUKEwjjn5yHmIvwAhVKaBoKHexsDwAQ2-cCegQIABAA&oq=f1+overtake&gs_lcp=CgNpbWcQAzIECCMQJzIECCMQJzIGCAAQBxAeMgYIABAHEB4yBAgAEB4yBAgAEB4yBggAEAgQHjIECAAQGDIECAAQGDIECAAQGFCSNliSNmC5N2gAcAB4AIABXogBXpIBATGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=eu19YOP6MMrQaezZPQ&bih=654&biw=1366&client=firefox-b-d#imgrc=rU0neiwPRi7hFM" target="_blank">Referência</a></details>
                    <figcaption>Uma ultrapassagem numa corrida de F1</figcaption>
                </figure>
            </section>
            <a href="#top">
                <span style="font-size:50px;height:30px;position: fixed;bottom: 30px;right: 30px;" class="material-icons md-24 ">arrow_upward</span>
            </a>
            <br>
{% endblock %}