header {grid-area: header;}
nav {grid-area: menu;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

.centerTable{
    margin-top: 0mm;
    margin-left: auto;
    margin-right: auto;
  }

.centerImg{
    margin: auto;
    display: block;
}

body table{
    background-color:#ff1801
}

tr{
    background-color: white;
}

th{
    background-color: #ff1801;
    color: white;
}

@media (min-width: 601px) {
    body {
        background-color: white;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-areas:
        'header header header'
        'menu   menu   menu'
        'main   main  main'
        'aside aside aside'
        'footer footer footer';
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav > a {
        display: flex;
    }
}

@media (max-width: 600px) {
    .fixed {
        display: none;
    }
    .sticky {
        display: none;
    }
    .relative {
        display: none;
    }

    body {
        background-color: white;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
        'header'
        'menu'
        'main'
        'aside'
        'footer';
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav > div {
        display: flex;
        flex-direction: row;
    }
}

footer {
    margin-bottom: -50px;
    border-top: solid red 2px;
}

.margemEquipas {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.borderVideo{
    border-color: red;
    border-width: 5px;
}

.borderImg{
    border: solid red 5px;
}

.imagemDireita{
    float:right;
    margin-left: 20px;
}

figcaption {
    color: rgb(2, 2, 2);
    font: italic large sans-serif;
    padding: 1px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: #ff1801;
    margin: 0;
    padding: 0;
}

nav > ul > li ul {
    display: none;
}

nav > ul > li {
    display: inline;
    position: relative;
}

nav a{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    white-space: nowrap;
    color: white;
}

nav a:hover {
    background-color: rgb(236, 42, 42);
}

nav > ul > li:hover > ul {
    display: block;
    position: absolute;
    top : calc(1em + 5px);
    left: 0%;
}

.vitoria {
    width: 30%;
    height: auto;
    vertical-align: middle;
  }

.img {
    max-width: 20%;
}

html {
    scroll-behavior: smooth;
  }

 .lH {
    position: absolute;
    width: 30px;
    height: 30px;
    overflow: hidden;
    z-index: 1;
    font-size: 25px;
    text-align:center;
  }
.aH {
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 2;
    opacity: 0.01;
  }

  .element {
    width: 100%;
    height: 5%;
    animation: pulse 5s infinite;
  }

  .element1 {
    width: 100%;
    height: 5%;
    animation: pulse1 5s infinite;
  }

  .element2 {
    width: 100%;
    height: 5%;
    animation: pulse2 5s infinite;
  }

  @keyframes pulse {
    0% {
      background-color: green;
    }
    100% {
      background-color: #ff1801;
    }
  }

  @keyframes pulse1 {
    0% {
      background-color: rgb(85, 206, 206);
    }
    100% {
      background-color: white;
    }
  }

  @keyframes pulse2 {
    0% {
      background-color: blue;
    }
    100% {
      background-color: #ff1801;
    }
  }

.fixed {
    position: fixed;
    bottom: 10%;
    right: 0;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  height: 0px;
  display: inline-block;
  vertical-align: top;
}

.galeria{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}